<div class="tabHeader centerContent">
    Edit User Information
</div>
<div class="editForm">
    <div class="row rowMargin">
        <div class="col-6 rightAlignedText">
            Full Name
        </div>
        <div class="col-6">
            <input type="text" class="rounded">
        </div>
    </div>

    <div class="row rowMargin">
        <div class="col-6 rightAlignedText">
            Email
        </div>
        <div class="col-6">
            <input type="email" class="rounded">
        </div>
    </div>

    <div class="row rowMargin">
        <div class="col-6">
            <button type="submit" class="btn btn-info rounded floatRight">Save</button>
        </div>
        <div class="col-6">
            <button type="submit" class="btn btn-info rounded">Cancel</button>
        </div>
    </div>
</div>