<div class="chatDiv">
    Group Chat
    <button type="button" class="btn-close close"></button>
</div>
<div class="chatDisplay">
    Aditi : Hello Everyone !!
    <br/>
    Nidhi : Hi
    <br/>
    Vaidehi : See you soon 

</div>
<div class="input-group textDiv" >
    <span class="userName">Aditi Patel</span>
    <input type="text" class="form-control TextBox">
    <button type="submit" class="btn btn-light rounded textBox">Send</button>
    <button type="submit" class="btn btn-light rounded textBox">Refresh</button>
</div>