.login {
    text-align: center;
    font-weight: bold;
}

.loginHeader {
    margin-top: 100px;
    margin-bottom: 30px;
}


table {
    margin-left: auto;
    margin-right: auto;
    //border: 1px solid black;
    width: 300px;
}

button {
    width: 150px;
    background-color: rgb(85, 213, 223);
    border: 1px solid black;
    font-weight: bold;
}