<div class="centerContent tabHeader loginHeader">Login</div>
<div class="login">
    <table class="table table-sm">
        <tr>
            <td> Email </td>
            <td><input type="email" class="rounded"></td>
        </tr>
        <br/>
        <tr>
            <td> Password </td>
            <td><input type="password" class="rounded"></td>
        </tr>
        <br/>
        <br/>
        <tr>
            <td><button type="submit" class="btn btn-info rounded">Login</button></td>
            <td><button type="submit" class="btn btn-info rounded" [routerLink]="['/']">Cancel</button></td>
        </tr>
    </table>
</div>