.tabHeader {
    font-size: xx-large;
    font-weight: bolder;
}

.centerContent {
    text-align: center;
}

.floatRight {
    float: right;
}

.rightAlignedText {
    text-align: right;
}

.rowMargin {
    margin-top: 5px;
    padding: 10px;
}
