<div class="register">
    <table class="table table-sm">
        <tr>
            <th></th>
            <th>
                <h3 class="cen">Register</h3>
            </th>
        </tr>
        <br />
        <tr>
            <td> Full Name</td>
            <td> <input type="text" class="rounded"></td>
        </tr>
        <br />
        <tr>
            <td> Email </td>
            <td><input type="email" class="rounded"></td>
        </tr>
        <br />
        <tr>
            <td> Password </td>
            <td><input type="password" class="rounded"></td>
        </tr>
        <br />
        <tr>
            <td> Confirm Password</td>
            <td><input type="confirmPassword" class="rounded"></td>
        </tr>
        <br />
        <tr>
            <td><button type="submit" class="btn btn-info rounded">Register</button></td>
            <td><button type="submit" class="btn btn-info rounded" [routerLink]="['/']">Cancel</button> </td>
        </tr>
    </table>
</div>